body {
    background-color: #dddddd;
    min-height: 1200px;

}

.nav-extended {
    background-image: url("../imagens/capa.jpg");
    background-size: cover;
    background-blend-mode: soft-light;
}

.sombra-text{
    text-shadow: 0em 0.1em 0.2em black
}

nav ul li.active, .tab a.active{
    border-bottom: solid 3px #FFF;
    background-color: transparent;
}
.hidenS{
    max-width: 30ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all ease-in-out 3s;
}


.hidencard.card.hoverable:hover .card-content .hidenS {
    max-width: max-content;
    overflow: visible;
    text-overflow: unset;
    white-space: normal;
}


